<div class="row">
    <div class="col-md-8">
        <button type="button" class="btn btn-success">保存</button>
        <button type="button" class="btn btn-primary">重置</button>
        <button type="button" class="btn btn-success">提交</button>
    </div>
</div>
<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <form class="form-inline">
            <div class="form-group">
                <input type="text" class="form-control" id="category" placeholder="类别">
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="entryDate" placeholder="时间">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col-md-12" style="margin-top: 10px;">
        <script id="containerEdit" type="text/plain" style="width: auto;height:500px;"></script>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var ue;
        ue = UE.getEditor('containerEdit', {
            //设置编辑器的配置
            autoHeight: false
        });

        ue.ready(function() {
            //设置编辑器的内容
            ue.setContent('hello');
            //获取html内容，返回: <p>hello</p>
            var html = ue.getContent();
            //获取纯文本内容，返回: hello
            var txt = ue.getContentTxt();
        });

        $(document).ready(function() {
            ue.ready(function() {
                ue.setContent(function() {
                    
                });
            });
        });
    </script>

}