

<div id="container" style="width: auto; height: 500px">
    
</div>

<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=f1eb25af4328454efa5f85489a29a9b2"></script>
<script type="text/javascript">
    //地图基础控件
    var map = new AMap.Map('container', {
        zoom: 10,
        center: [116.39, 39.9]
    });
    AMap.plugin(['AMap.ToolBar', 'AMap.Scale', 'AMap.OverView', 'AMap.Geolocation', 'AMap.MapType'],
        function () {
            map.addControl(new AMap.ToolBar());

            map.addControl(new AMap.Scale());

            map.addControl(new AMap.OverView({ isOpen: true }));

            map.addControl(new AMap.Geolocation());

            map.addControl(new AMap.MapType());
        });

    //覆盖物为弹出框
    var marker = new AMap.Marker({
        position: [116.480983, 39.989628]
    });
    marker.setMap(map);
    //覆盖物为圆形
    var circle = new AMap.Circle({
        center: [116.480983, 39.989628],
        radius: 100,
        fillOpacity: 0.2,
        strokeWeight: 1
    })
    circle.setMap(map);
    map.setFitView()
    var info = new AMap.InfoWindow({
        content: "信息窗体<br>这里是方恒科技大厦",
        offset: new AMap.Pixel(0, -28)
    })
    info.open(map, marker.getPosition())
</script>

