

<div class="row" style="margin-top:10px;">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">树形组织结构</div>
            <div class="panel-body" id="treeId">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>城市</th>
                </tr>
            </thead>
            <tbody id="dataSelect"></tbody>
        </table>

    </div>
</div>

<script type="text/javascript">

</script>